.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(220,220,220, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.modalContainer.shown {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    width: 600px;
    max-width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 5px 3px lightgray;
    padding: 20px;
    background-color: white;
}

#closeModal {
    cursor: pointer;
}