.taskListGrid {
    width: 100%;
    background-color: lightgray;
    row-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-auto-rows: 45px;
    justify-items: stretch;
    align-items: stretch;
}

.task > *,
.taskListHeaders > * {
    margin: 0;
}

.taskListHeaders h4,
.task input {
    padding: 5px 15px;
}

.task input {
    border: 1px dotted transparent;
    background-color: transparent;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task input:hover::before {
	content: attr(data-title);
	position: absolute;
	bottom: -46px;
	padding: 10px;
	background: #000;
	color: #fff;
	font-size: 14px;
	white-space: nowrap;
}

.task,
.taskListHeaders {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 15% 15% 1fr;
    justify-content: stretch;
    align-items: center;
}

.taskListGrid > * {
    background-color: white;
    margin: 0px;
}

.addBtn {
    border: 2px dotted grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options img {
    height: 20px;
    width: auto;
}