<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="header">
        <h3>Welcome</h3>
        <img id="profilePicture" src="../src/profilePic.png" alt="">
    </div>
    <div class="sidebar">
        <div class="logoContainer">
            <img id="taskImg" src="../src/task.png" alt="task logo">
            <h3 id="logoText">TASKSS</h3>
        </div>
        <div class="projectSection">
            <h2>Projects</h2>
            <ul>
                <li>Start Here</li>
            </ul>
        </div>
    </div>
    <main>
        <h3>Task Board</h3>
        <div class="taskListGrid">
            <div class="taskListHeaders">
                <h4 class="_title">Title</h4>
                <h4 class="_description">Description</h4>
                <h4 class="_dueDate">Due date</h4>
                <h4 class="_category">Category</h4>
                <h4>Options</h4>
            </div>

            <div class="addBtn">Add a task</div>
        </div>
    </main>

    <div class="modalContainer">
        <form class="modal" method="post">
            <div id="closeModal">x</div>

            <h2>Enter your task's details</h2>

            <div class="formField">
                <label for="title">Task title</label>
                <input type="text" id="title" required>
            </div>

            <div class="formField">
                <label for="description">Description</label>
                <input type="text" id="description" required>
            </div>

            <div class="formField">
                <label for="date">Task due date</label>
                <input type="text" id="date" required>
            </div>

            <div class="formField">
                <label for="category">Task category</label>
                <input type="text" id="category" required>
            </div>

            <button type="button" id="submit">Add to the list</button>
        </form>
    </div>
</div>
</body>
</html>
</html>